@model CraftsnMoreGalore.Models.Craft
@{
    ViewBag.Title = "View";
}


<div class="section">
    <h2>@Model.Name</h2>
    <img src="@Url.Content(Model.ImagePath)" style="width:150px;height:150px" />
    <p>@Model.Description</p>
</div>